@import "./Vars.scss";
@import "./Media.scss";

body {
    color: white;
    font-family: $theme-font;
    margin: 0;
    background-color: $main-color;
}
/** personalizar el scrollbar
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(18, 20, 29) rgb(42, 44, 52);
}
*/